{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
<div class="container center">
    <h1> {{ title }}!</h1> 
<div class="row">
   <p>
        <button type="button" class="btn btn-lg btn-success"><a href={{ endpoint }} class="link"  target="_self">Buy</a></button>
        <span>Cena {{price}} </span>
    </p>
</div>
        <img src="/assets/Img/banner_1215x200A.png"  alt="banner_bm">
</div>
{% endblock %}
